.left-image {
    float: left;
    padding: 0 !important;
}

.custom-left {
    width: 33%;
    float:left;
    padding-right: 2%;
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

li {
    font-size: 1.25rem;
}

a:hover {
    text-decoration: underline !important;
}